body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

header {
    margin-bottom: 20px;
}

#bio, #career, #legacy {
    margin-bottom: 20px;
    text-align: center;
}

#joey-photo {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

#details {
    margin-bottom: 20px;
}
